<!-- <form action="action_page.php" method="post"> -->
  <form [formGroup]="loginForm">
  <div class="imgcontainer">
    <!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> -->
    <img src="../../../assets/images/loginAvatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Email ID</b></label>
    <input formControlName="emailID" type="text" placeholder="Enter Email ID" required>

    <label for="psw"><b>Password</b></label>
    <input formControlName="password" type="password" placeholder="Enter Password" required>

    <!-- <button type="submit">Login</button> -->
    <button type="button" (click)="loginClick()">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>